.header {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 15px 0;
  width: 100%;
  background-color: #3746ab;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

.form {
  position: relative;
  display: flex;
  width: 100%;
  max-width: 400px;
  margin: 0 auto;
}

.input {
  width: 100%;
  padding: 10px 20px 10px 40px;
  border-radius: 5px;
  border: 1px solid #ccc;
  outline: none;
  font-size: 16px;
}

.button {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  padding: 0 14px;
  border: none;
  background-color: transparent;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
}
